<html>
    <head>
        <title>ISBN Search</title>
        {% load static %}

        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/css.css' %}">
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <p class="h3 text-center"  style="margin:50px">Procure os dados do livro pelo ISBN</p>
        <div class="mx-auto" style="width:400px">
            <form class="form-row">

                <div class="form-group">
                    <label for="isbn">ISBN:</label>
                    <input id="isbn" name="isbn" value="{{ isbn }}" placeholder="Digite o ISBN" />
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
        {% if data %}
            <div class="detalhes">
                <div class="form-group">
                    <span class="font-weight-bold">Título:</span> {{ data.book.title }}
                </div>

                <div class="form-group">
                    <span class="font-weight-bold">Autores:</span> {{ data.book.authors }}
                </div>
            </div>
        {% endif %}
    </body>
</html>